/* Fuentes */
@import url('fuentes.css');

@font-face {
        font-family: 'LietoMe';
        src: url('/fuentes/LietoMe.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

.nombresNovios {
        width: 60% !important;
}

.fondo1 {
        padding: 0;
        margin: 0;
        /*background-image: url(../img/fondo.svg);*/
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        z-index: 995;
}

.fondo2 {
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
}

.salto1 {
        margin-top: 50px;
}

.iniciales {
        width: 10%;
}

.nombres {
        src: url('/fuentes/LietoMe.ttf') format('truetype');
        font-size: 3rem;
        font-family: 'LietoMe' !important;
}

.nombres2 {
        src: url('/fuentes/LietoMe.ttf') format('truetype');
        font-size: 3rem;
        font-family: 'LietoMe' !important;
}

/* carta */
.sobreAribaMobil {
        display: none !important;
}

.sobreAbajoMobil {
        display: none !important;
}

.sobreAriba {
        z-index: 999 !important;
        width: 100%;
        position: sticky;
        top: 0;
        transition: transform 2s ease !important;
}

.sobreAbajo {
        z-index: 998 !important;
        width: 100%;
        position: sticky;
        bottom: 0;
        transition: transform 2s ease !important;
}

.sobreFondo {
        z-index: 990 !important;
        width: 100%;
        height: 100vh !important;
        position: fixed;
        top: 0;
        background-image: url(../img/sobre/fondo.png);
}

.botonAbrirSobreMobil {
        display: none !important;
}


/* BOTONES  PARA ABRIR */
.imagenAbrirSobre {
        width: 15%;
        height: auto;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
        /* animación */
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        z-index: 1000;
}

.imagenAbrirSobreMobil {
        cursor: pointer;
        display: none !important;
}

.color_whatsapp {
        color: #ffffff;
}
.color_facebook {
        color: #ffffff;
}

.bg_footer {
        background-color: rgb(0, 0, 0);
}

/* REPRODUCTOR DE MUSICA */
/* .audioMp3 {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
} */



.time {
        font-size: 40px;
        font-weight: 500;
        border-left: 3px solid rgba(45, 165, 61, 0.05);
        color: #000000;
}

.confirmarAsistencia {
        width: 40%;
        margin: 0 auto;
}
.confirmarAsistenciaBody {
        width: 100%;
}



/******************  MÓVILES *********************/
@media (max-width: 480px) {
        body {
                background-image: url(../img/fondo/fondow.png);
                background-repeat: no-repeat;
                background-attachment: fixed;
                margin: 0;
                padding: 0;
        }

        .nombresNovios {
                width: 100% !important;
        }

        .iniciales {
                width: 20%;
        }

        .fondo1 {
                padding: 0;
                margin: 0;
                /*background-image: url(../img/fondo.svg);*/
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                z-index: auto;
        }

        .fondo2 {
                -webkit-transform: scaleY(-1);
                -moz-transform: scaleY(-1);
        }

        .salto1 {
                margin-top: 5%;
        }

        .sobreAriba {
                display: none;
        }

        .sobreAbajo {
                display: none;
        }

        .sobreAribaMobil {
                display: block !important;
                z-index: 999 !important;
                position: fixed;
                top: 0;
                right: 0;
                height: 99vh;
                width: 55%;
        }

        .sobreAbajoMobil {
                display: block !important;
                z-index: 998 !important;
                position: fixed;
                top: 0;
                left: 0;
                height: 99vh;
                width: 55%;
        }

        .imagenAbrirSobre {
                cursor: pointer;
                display: none !important;
        }

        .imagenAbrirSobreMobil {
                display: block !important;
                width: 30%;
                height: auto;
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
                /* animación */
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                z-index: 1000;
        }

        .botonAbrirSobre {
                display: none !important;
        }

        .sobreAribaMobil,
        .sobreAbajoMobil {
                transition: transform 2s ease !important;
        }
        /* confirmar asistencia */
        .confirmarAsistencia {
                width: 95%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
        }
        .confirmarAsistenciaBody {
                width: 100%;
        }
        
}